.resume {
	header {
		display: flex;
		justify-content: space-between;
	}
}

.skills {
	ul {
		margin-left: 0;
		list-style-type: none;
		columns: 3;
		

	}
}

.resumePosition {
	font-size: 1.2rem;
	margin-bottom: 0.5rem;
}